<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardCommentMapper">


  <!-- insertBoardComment -->
  <insert id="insertBoardComment">
    INSERT INTO board_comment (bno,mid,content) 
    VALUES (#{bno},#{mid},#{content})
  </insert>

  <select id="selectBoardComment" resultType="comment">
    SELECT * FROM board_comment_view WHERE cno = #{cno}
  </select>

  <delete id="deleteBoardComment">
    DELETE FROM board_comment WHERE cno = #{cno}
  </delete>

</mapper>
