<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <h1>차량 관리</h1>
    <a href="/cars/new">차량 등록</a>
    </nav>
    <div class="container">
        <h2>차량 정보</h2>
        <table>
            <tbody>
                <tr>
                    <th>차량 ID</th>
                    <td th:text="${car.carId}"></td>
                </tr>
                <tr>
                    <th>브랜드</th>
                    <td th:text="${car.brand}"></td>
                </tr>
                <tr>
                    <th>연식</th>
                    <td th:text="${car.year}"></td>
                </tr>
                <tr>
                    <th>주행거리</th>
                    <td th:text="${car.mileage}"></td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td th:text="${car.price}"></td>
                </tr>
                <tr>
                    <th>등록일</th>
                    <td th:text="${car.registeredAt}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a th:href="@{/menus/{id}/edit(id=${car.carId})}">수정</a>
                        <a th:href="@{/menus/{id}/delete(id=${car.carId})}">삭제</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>