<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CarMapper">

    <sql id="carColumns">
        car_id, brand, model, year, mileage, price, registered_at
    </sql>

    <select id="findAll" resultType="car">
        SELECT <include refid="carColumns" /> FROM cars
    </select>

    <insert id="save" parameterType="car">
        INSERT INTO cars (brand, model, year, mileage, price)
        VALUES (#{brand}, #{model}, #{year}, #{mileage}, #{price})
    </insert>
</mapper>