<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글</title>
</head>
<body>
  <section>
    <h2 th:text="${post.title}"></h2>
    <div class="post-container">
      <div class="post-info">
        <p>작성자 : <span th:text="${post.member.nickname}"></span></p>
        <p>작성일 : <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        | 조회수 : <span th:text="${post.viewCount}"></span>
        </p>
      </div>
      <div class="post-content" th:utext="${post.content}"></div>
      <hr>
      <div class="post-footer">
        <button>👍좋아요 <span>0</span></button>
        <button>👎싫어요 <span>0</span></button>
      </div>
      <div>
        <div>
          <a href="">수정</a>
          <a href="">삭제</a>
        </div>
        <a href="javascript:history.back();">←목록으로</a>
      </div>
    </div>
  </section>
</body>
</html>