<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
</head>

<body>
  <section>
    <div>
      <h2>게시글 목록</h2>
      <a href="">글쓰기</a>
    </div>
    <!-- 검색폼 차후 -->

    <!-- 게시글 테이블 -->
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${postPage.isEmpty()}">
          <td colspan="5">
            <p>작성된 게시글이 없습니다.</p>
          </td>
        </tr>
        <tr th:each="post : ${postPage}">
          <td th:text="${post.id}"></td>
          <td>
            <a th:href="@{'/board/detail?id=' + ${post.id}}" th:text="${post.title}"></a>
          </td>
          <td th:text="${post.member.nickname}"></td>
          <td th:text="${post.createdAt}"></td>
          <td th:text="${post.viewCount}"></td>
        </tr>

      </tbody>
    </table>

    <!-- 페이징처리 -->
    <div th:if="${!postPage.isEmpty()}">
      <ul>
        <li th:if="${!postPage.first}"><a th:href="@{/board(keyword=${keyword},page=${currentPage - 1})}">◀</a></li>

        <li th:each="i : ${#numbers.sequence(0, postPage.totalPages - 1)}">
          <a th:href="@{/board(keyword=${keyword},page=${i})}" th:text="${i + 1}"></a>
        </li>

        <li th:if="${!postPage.last}"><a th:href="@{/board(keyword=${keyword},page=${currentPage + 1})}">▶</a></li>
      </ul>
    </div>

  </section>
</body>

</html>