<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
</head>

<body>
  <section>
    <div>
      <h2>게시글 목록</h2>
      <a href="">글쓰기</a>
    </div>
    <!-- 검색폼 차후 -->

    <!-- 게시글 테이블 -->
    <table>
      <thead>
        <tr>

        </tr>
      </thead>
    </table>

  </section>
</body>

</html>