<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,content)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Document</title>
</head>

<body>
  <nav>
    <a th:href="@{/board}">Spring 게시판</a>
    <div>
      <!-- 로그인 상태 -->
      <th:block th:if="${session.loginMember != null}">
        <p>OOO님 로그인 하셨습니다.</p>
      </th:block>
      <!-- 비로그인 상태 -->
      <th:block th:if="${session.loginMember == null}">
        <a th:href="@{/auth/login}">로그인</a>
        <a th:href="@{/auth/register}">회원가입</a>
      </th:block>
    </div>
  </nav>
  <div class="container">
    <!-- 플래시 메세지 출력부분 -->
    <div th:if="${message}">
      <span th:text="${message}"></span>
      <!-- 플래시 메세지 닫기 버튼 -->
      <button type="button" class="btn-close"></button>
    </div>
    <th:block th:replace="${content}"></th:block>
  </div>
  <footer>
    <small>Spring Boot + JPA + Thymeleaf + Quill 게시판 실습</small>
  </footer>
</body>

</html>